
* {
	margin:0;
	padding:0;
}
@font-face {
	font-family: CODEBold;
	src:url(font-family/CODEBold.otf);
}
.navbar {
	list-style-type:none;
	width:75%;
	float:left;
	text-align:right;
	height: 72px;
}

.navbar ul {
	margin:30px 60px 0px 0px;
}
.header {
	background-color: white;
	height:72px;
	border-bottom: solid 1px #d7d7d7;
}
.logo {
	float:left;
	width:25%;
}
.logo img {
	width:155px;
	padding-left:60px;
	padding-top:10px;
}
.navbar ul li {
	display:inline;
	color:black;
	font-family:'CODEBold', sans-serif;
	padding:10px;
	letter-spacing: 1px;

}
.navbar ul a {
	text-decoration: none;
}
.navbar ul li:hover {
	color:#43C0FF;
}

.img1 img {
    width: 800px;
    margin: 80px 40px 0px 0px;
}

.img1 {
    width: 50%;
    float: left;
}
section.two {
    overflow: hidden;
    height: 700px;
    border-bottom: 1px solid #d7d7d7;
}
.text1 {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 120px 60px;
}
.text1 h1 {
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size:60px;
	font-weight: lighter;
}
.text1 p {
	font-family: 'Hind Siliguri', sans-serif;
	font-size: 28px;
	color:#8b8b8b;
	padding-top:20px;
	width:500px;
}
.knowmore ul {
	padding-left:400px;
	padding-top: 30px;
}
.knowmore ul li  {
	background-color: #43c0ff; 
    border: none;
    color: white;	
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;	
    padding:10px 20px;
    border-radius: 10px;
    font-family: 'Dosis', sans-serif;
}
.knowmore ul a:hover li {
	background-color: black;

}
section.three {
	overflow: hidden;
	height:500px;
	padding-top: 100px;
	padding-bottom: 100px;
}
.img2 {
	width: 50%;
	float: left;
}
.img2 img {
	margin: 5px 30px 0px 60px;
	border:none;
	border-radius: 300px;
    box-shadow: 0px 10px 60px gray ;
}
.text2 {
    width: 50%;
    float: left;
    text-align: justify;
    box-sizing: border-box;

}
.text2 h1 {
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size:60px;
	font-weight: lighter;
}
.text2 p {
	font-size: 28px;
	font-family: 'Hind Siliguri', sans-serif;
	color:#8b8b8b;
	width:700px;
}
.offer {
    width: 33.3%;
    float: left;
    box-sizing: border-box;
}
section.four {
    text-align: center;
    background-color: #f3f3f3;
    overflow: hidden;
    padding: 60px 0;
}
.offertext h1 {
    padding-bottom: 80px;
    font-size: 60px;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: lighter;
}
.offer h2 {
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 30px;
	padding:10px;
	font-weight: lighter;
}
.offer p {
	font-family: 'Hind Siliguri', sans-serif;
	color:#444443;
	padding:0px 80px;
}
.offer img {
    width: 140px;
}

section.five {
    text-align: center;
    overflow: hidden;
    padding: 60px 0;
}
.present {
    width: 33.3%;
    float: left;
    box-sizing: border-box;
    margin: 20px 0px;
}
.present img {
	width: 120px;
}

.present h2 {
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 30px;
	padding:10px;
	font-weight: lighter;

}
.text3 {
	padding-bottom: 80px;
    font-size: 30px;
    font-family: 'Ubuntu Condensed', sans-serif;
    
}
.text3  h1 {
	font-size: 60px;
	font-weight: lighter;
}
section.six {
	width: 100%;
	overflow: hidden;
	padding: 120px 0;
	height:385px;
	background-color:#01363d;
}
.text4 {
    width: 60%;
    float: left;
    box-sizing: border-box;
    text-align: justify;
    padding-left: 60px;
  	color:white;
}
.text4 h1 {
	font-size: 40px;
	font-family: 'Ubuntu Condensed', sans-serif;
	font-weight: lighter;
}
.text4 p {
	font-size:20px;
	font-family: 'Hind Siliguri', sans-serif;
	color:#d7dedf;
	padding-top: 20px;
	width: 800px;
}
.form {
    width: 40%;
    float: left;
    box-sizing: border-box;
    padding-left: 100px;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: lighter;
 }
input[type="text"], input[type="email"], textarea  {
	border:solid 2px white;
	padding: 10px;

}
input[type="submit"] {
	padding: 8px 10px;
	font-family: 'Ubuntu Condensed', sans-serif;
	border:solid 1px white;
	border-radius: 4px;
	font-weight: lighter;
}
.positionform1 {
	padding-left: 100px;
	margin:-25px auto;
    max-width: 400px;
}
 #f1 {
 	width:200px;
 	background-color: #ebd673;
 	padding: 60px;
 }
 #f2 {
 	width:500px;
 	border:1px solid white;
 	padding: 12px;
 	background-color:rgba(0, 0, 0, 0.42)
 }
 .form h1 {
 	text-align: center;
 	background-color: #d0b743;
 	width: 320px;
 	padding: 8px 0px 20px 0px;
 	font-family: 'Muli', sans-serif;
 	font-size: 35px;
 	font-weight: lighter;
 }

 section.seven {
 	overflow: hidden;
 	height: 550px;
 	padding-top: 120px;
 	border-bottom: 1px solid #d7d7d7;
 }
 
.success {
	text-align: center;
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 30px;
	padding: 30px 0px 30px 0px; 
	font-weight: lighter;
}
.success h1 {
	font-size: 60px;
	font-weight: lighter;	
}
.stories {
	width:45%;
	float: left;
	height: 300px;
	background-color: #eaeaea;
}
#stories1 {
	border-right: solid 10px white;
	margin-left: 65px;
}
.stories h2 {
	font-family: 'Ubuntu Condensed', sans-serif;
	padding: 20px 0px 20px 0px;
	text-align: center;
	background-color: #c9c8c7;
	font-weight: lighter;
}
.storyimg {
	float: left;
	width: 50%;

}
.storyimg img {
	width:200px;
	padding-left:30px;
	padding-top: 20px;
}
.storytxt {
	width: 50%;
	float: left;
}
.stories p {
	margin: 60px 30px 0px 0px;
	color:#686868;
	font-family: 'Hind Siliguri', sans-serif;
	text-align: justify;
}
section.eight {
    text-align: center;
    overflow: hidden;
    padding: 120px 0px 60px 0px;
}
.ruby {
    width: 30%;
    float: left;
    box-sizing: border-box;
    border:solid 0.5px #d9d9d9;
    border-radius: 10px;
    margin-left: 60px;
    padding: 20px;
    opacity: 1;
   	transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
.nodejs {
	width: 30%;
    float: left;
    box-sizing: border-box;
    border:solid 0.5px #d9d9d9;
    border-radius: 10px;
    margin: 0px 15px 0px 15px;
    padding: 20px;
    opacity: 1;
   	transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
.php {
	width: 30%;
    float: left;
    box-sizing: border-box;
    border:solid 0.5px #d9d9d9;
    border-radius: 10px;
    margin-right: 60px;
    padding: 20px;
    opacity: 1;
   	transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
.ruby:hover, .php:hover, .nodejs:hover {
	opacity: 0.5;
}
.application h1 {
    padding-bottom: 80px;
    font-size: 60px;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: lighter;
}
.ruby h2, .php h2, .nodejs h2 {
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 30px;
	padding:10px;
	font-weight: lighter;
}
.ruby p, .php p, .nodejs p {
	font-family: 'Hind Siliguri', sans-serif;
	color:#444443;
	padding: 0px 20px;
}
.ruby img, .php img, .nodejs img {
    width: 120px;
}
section.nine  {
	padding: 120px 0px 60px 0px;
	overflow: hidden;
}
.parallax {
	background-image: url("images/parallaximage.jpg");
	height:600px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;	
}
.parallaxtext {
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 30px;
	padding-top:220px;
	color:white;
	letter-spacing:1px;
	text-align: center;
	margin: 0px 400px;
	font-weight: lighter;
}
.emailus ul {
	padding-top: 30px;
}
.emailus ul li  { 
    border: solid 1px #059cd3;
    color: white;	
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;	
    padding:10px 30px;
    border-radius: 4px;
    font-family: 'Ubuntu Condensed', sans-serif;
}
.emailus ul a:hover li {
	color:white;
	border-color: pink;
}

section.ten {
    text-align: center;
    overflow: hidden;
  	padding: 65px 0px 60px 0px;
  	border-bottom: 1px solid #d7d7d7;
}
.charts {
    width: 33.3%;
    float: left;
    box-sizing: border-box;
    margin: 20px 0px;
    -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  	transition: all 0.3s;
}
.charts:hover {
-moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
 }
.charts img {
	width: 400px;
}
.charts h2 {
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 30px;
	padding:10px;
	font-weight: lighter;
}

.analysis {
	text-align: center;
	font-family: 'Ubuntu Condensed', sans-serif;
	padding: 30px 0px 30px 0px; 
	font-weight: lighter;
}
.analysis h1 {
	font-size: 60px;
}
section.eleven {
	overflow: hidden;
	height: 600px;
	padding-top: 200px;
}
.inner3 {
	width:100%;
}
.inner3 h1 {
	font-size: 60px;
	font-family: 'Ubuntu Condensed', sans-serif;
	padding-left: 60px;
	font-weight: lighter;
}
.boxandtext {
	width: 30%;
	float: left;
	padding-top: 30px;
	box-sizing: border-box;
	padding-left: 40px;		
}
.map {
	width:70%;
	float: left;
	-moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  	box-sizing: border-box;
  	-moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  	transition: all 0.3s;
}
.map:hover {
-moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.checkbox {
	float: left;
	width: 30%;
}
.checkbox img {
	width:20px;
	padding-left: 100px;
}
.map img {
	width:800px;
	margin-left: 120px;
}
.countryname {
	float: left;
	width: 70%;
}
.countryname h2 {
	font-size: 20px;
	font-family: 'Ubuntu Condensed', sans-serif;
	font-weight: lighter;
}
.countries {
	padding-top: 40px;
}

 .twelve {
 	overflow: hidden;
 	height: 700px;
 	width: 100%;
 	background-image: url(images/image3.jpg);
 	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
 	background-size: cover;
 }
 .intouch {
 	float: left;
 	width: 50%;
 	text-align: center;
 	padding-top: 200px;
 }
 .formstyle1 {
    margin:10px auto;
    max-width: 400px;
    padding: 10px 12px 10px 20px;
    font-family: 'Hind Siliguri', sans-serif;
    color:white;
}
.formstyle1 select {
	width: 400px;
}
.formstyle1 li {
    list-style: none;
    margin: 10px 0 0 0;
}
.formstyle1 label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}
.form2 {
	width: 50%;
	float: left;
	padding-top: 8px;
	box-sizing: border-box;
    padding-left: 50px;
}
.formstyle1 input[type=text], 
.formstyle1 input[type=date],
.formstyle1 input[type=datetime],
.formstyle1 input[type=number],
.formstyle1 input[type=search],
.formstyle1 input[type=time],
.formstyle1 input[type=url],
.formstyle1 input[type=email],
textarea, 
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 12px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;  
}
.formstyle1 input[type=text]:focus, 
.formstyle1 input[type=date]:focus,
.formstyle1 input[type=datetime]:focus,
.formstyle1 input[type=number]:focus,
.formstyle1 input[type=search]:focus,
.formstyle1 input[type=time]:focus,
.formstyle1 input[type=url]:focus,
.formstyle1 input[type=email]:focus,
.formstyle1 textarea:focus, 
.formstyle1 select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.formstyle1 .field-divided{
    width: 49%;
}

.formstyle1 .field-long{
    width: 100%;
}
.formstyle1 .field-select{
    width: 100%;
}
.formstyle1 .field-textarea{
    height: 100px;
}
.emailus ul {
	padding-top: 30px;
}
.getquotes a { 
    border: solid 1px #059cd3;
    color: white;	
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;	
    padding:10px 30px;
    border-radius: 4px;
    font-family: 'Ubuntu Condensed', sans-serif;
}
.getquotes a:hover  {
	color:white;
	border-color: pink;
}

.intouch h1 {
	font-family: 'CODEBold', sans-serif;
	font-size:60px;
	color:white;
}
.intouch h3 {
	font-family: 'Ubuntu Condensed', sans-serif;
	font-weight: lighter;
	font-size: 25px;
	color:white;
}
.socialmedia {
	float: left;
	padding-left: 20px;
}
.intouch img {
	width: 40px;
}

.socialicons {
	padding: 20px 250px;
	font-size:40px;
}
.socialicons a {
	color:white;
}
.socialicons a:hover {
	color:#43c0ff;
}
section.thirteen {
	height: 300px;
	overflow: hidden;
}
.footer {
	width:100%;
	padding-top: 50px;
	border-top: 5px solid white;
}
.icofooter {
	padding-left: 130px;
}
.leftfooter {
	width: 33%;
	float: left;
	text-align: center;
	border-right: 1px solid black;
}
.leftfooter p {
	font-family: 'Hind Siliguri', sans-serif;
	width: 300px;
	margin: 28px 90px;
}
.leftfooter2 {
	width: 33%;
	float: left;
	text-align: center;
}
.leftfooter2 p {
	font-family: 'Hind Siliguri', sans-serif;
	width: 300px;
	margin: 28px 90px;
	text-align: justify;
}
.middlefooter {
	width: 33%;
	float: left;
	text-align: center;

}
.iconspace {
	padding-top: 20px;
}
.middlefooter2 {
	width: 33%;
	float: left;
	text-align: center;
}
.rightfooter {
	width: 33%;
	float: left;
	text-align: center;
	border-left: 1px solid black;
}
.rightfooter2 {
	width: 33%;
	float: left;
	text-align: center;
}
.rightfooter2 p {
	font-family: 'Hind Siliguri', sans-serif;
	margin: 15px 130px;
	text-align: justify;
}
.leftfooter h1 , .rightfooter h1 , .middlefooter h1 {
	font-size: 20px;
	font-family: 'Ubuntu Condensed', sans-serif;
	font-weight: lighter;
	display: inline-block;
	border-bottom: 1.5px solid #43c0ff;

}
#getconnected {
	padding-top: 20px;
}
.middlefooter2 h1, .leftfooter2 h1, .rightfooter2 h1 {
	font-size: 20px;
	font-family: 'Ubuntu Condensed', sans-serif;
	font-weight: lighter;
	text-align: center;
	border-bottom: 1px solid wheat;
	display: inline-block;
}
.rightfooter h3 {
	font-size: 15px;
	font-family: 'Hind Siliguri', msans-serif;
	font-weight: lighter;
}
.middlefooter ul a {
	text-decoration: none;
}
.middlefooter ul {
	list-style-type: none;
	padding: 30px;
}
.middlefooter ul li {
	padding: 2px;
	color:black;
	font-family: 'Hind Siliguri', sans-serif;
}
.middlefooter2  ul a:hover li {
	color:#10cbe4;
}
.middlefooter2 ul a {
	text-decoration: none;
}
.middlefooter2 ul {
	list-style-type: none;
	padding: 30px;
}
.middlefooter2 ul li {
	padding: 2px;
	color:white	;
	font-family: 'Hind Siliguri', sans-serif;
}
.middlefooter2  ul a:hover li {
	color:#10cbe4;
}
.rightfooter p {
	font-family: 'Hind Siliguri', sans-serif;
	margin: 15px 130px;
	text-align: justify;
}
.socialfooter {
	float: left;
	padding-right: 20px;
	font-size:40px;
	color:black;
}
.socialfooter a {
	color:white;
}
.socialfooter a:hover {
	color:#43c0ff;
}

.icons {
	float: left;
	width: 10%;
}
.icons img {
	width: 30px;
}
.iconset {	
	padding: 10px 0px 0px 150px;
	width: 100%;
	overflow: hidden;
}
.contacttext {
	float: left;
	width: 90%;
	text-align: left;		
}
section.thirteen2 {
	height:350px;
	overflow: hidden;
	background-color: #323232;
	color:white	;
}
.fourteen {
	overflow: hidden;
	height:40px;
	background-color: #2a2a2a;
	border-bottom: 1px solid gray;
}

.privacypolicy {
	text-align: center;
	font-size: 15px;
	font-family: 'Ubuntu Condensed', sans-serif;
	font-weight: lighter;
	color:white;
}
.privacypolicy h4 {
	padding-top: 10px;
	font-weight: lighter;
}

.contacttext h1 {
	font-size: 15px;
	font-family: 'Hind Siliguri', sans-serif;
}
.h1color {
	color:#01363d;
}

.w3villaicon img {
	width: 40px;
}
