
* {
	margin:0;
	padding:0;
}
.navbar {
	list-style-type:none;
	width:75%;
	float:left;
	text-align:right;
	height: 72px;

}
.navbar ul {
	margin:30px 60px 0px 0px;
}
.header {
	background-color: white;
	height:72px;
	border-bottom: solid 0.5px gray;
}
.logo {
	float:left;
	width:25%;
}
.logo img {
	width:155px;
	padding-left:60px;
	padding-top:10px;
}
.navbar ul li {
	display:inline;
	color:black;
	font-family:'PT Sans Narrow', sans-serif;
	padding:10px;
	letter-spacing: 1px;

}
.navbar ul a {
	text-decoration: none;
}
.navbar ul li:hover {
	color:#43C0FF;
}

.img1 img {
    width: 800px;
    margin: 80px 40px 0px 0px;
}

.img1 {
    width: 50%;
    float: left;
}
section.two {
    overflow: hidden;
    height: 700px;
}
.text1 {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 120px 60px;

}
.text1 h1 {
	font-family: 'Muli', sans-serif;
	font-size:60px;
}
.text1 p {
	font-family: 'Dosis', sans-serif;
	font-size: 28px;
	color:#d2d2d2;
	padding-top:20px;
	width:500px;
}
.knowmore ul {
	padding-left:400px;
	padding-top: 30px;
}
.knowmore ul li  {
	background-color: #43c0ff; 
    border: none;
    color: white;	
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;	
    padding:10px 20px;
    border-radius: 10px;
    font-family: 'Dosis', sans-serif;
}
.knowmore ul a:hover li {
	background-color: black;

}
section.three {
	overflow: hidden;
	height: 800px;

}
.img2 {
	width: 50%;
	float: left;
}
.img2 img {
	border:solid white;
	border-radius:60px;
	width: 400px;
	height: 400px;
	margin: 175px 30px 0px 60px;
}
.text2 {
    width: 50%;
    float: left;
    text-align: justify;
    box-sizing: border-box;
    padding: 175px 60px 0px 0px;

}
.text2 h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:60px;
}
.text2 p {
	font-size: 28px;
	font-family: 'Ubuntu', sans-serif;
	color:#8b8b8b;
	width:700px;
}
.offer {
    width: 33.3%;
    float: left;
    box-sizing: border-box;
}
section.four {
    text-align: center;
    background-color: #faf5ee;
    overflow: hidden;
    padding: 60px 0;
}
.offertext h1 {
    padding-bottom: 80px;
    font-size: 60px;
    font-family:'Catamaran', sans-serif;
}
.offer h2 {
	font-family: 'Catamaran', sans-serif;
	font-size: 30px;
	padding:10px;
}
.offer p {
	font-family: 'Abel', sans-serif;
	color:#444443;
}
.offer img {
    width: 120px;
}

section.five {
    text-align: center;
    overflow: hidden;
    padding: 60px 0;
}
.present {
    width: 33.3%;
    float: left;
    box-sizing: border-box;
    margin: 20px 0px;
}
.present img {
	width: 120px;
}

.present h2 {
	font-family: 'Monda', sans-serif;
	font-size: 30px;
	padding:10px;
}
.text3 {
	padding-bottom: 80px;
    font-size: 30px;
    font-family: 'Monda', sans-serif;
}
section.six {
	width: 100%;
	overflow: hidden;
	padding: 120px 0;
	height:385px;
	background-color:#01363d;
}
.text4 {
    width: 60%;
    float: left;
    box-sizing: border-box;
    text-align: justify;
    padding-left: 60px;
  	color:white;
}
.text4 h1 {
	font-size: 40px;
	font-family: 'Open Sans Condensed', sans-serif;
}
.text4 p {
	font-size:20px;
	font-family: 'Ubuntu', sans-serif;
	color:#d7dedf;
	padding-top: 20px;
	width: 800px;
}
.form {
    width: 40%;
    float: left;
    box-sizing: border-box;
    padding-left: 100px;
    font-family: : 'Ubuntu', sans-serif;
 }
input[type="text"], input[type="email"], textarea  {
	border:solid 2px white;
	border-radius: 3px;
	padding: 5px;
}
input[type="submit"] {
	padding: 3px;
	font-family: 'Ubuntu', sans-serif;
	border:solid 1px white;
	border-radius: 4px;
}
 #f1 {
 	width:200px;
 	background-color: #ebd673;
 	padding: 60px;
 }
 .form h1 {
 	text-align: center;
 	background-color: #d0b743;
 	width: 320px;
 	padding: 8px 0px 20px 0px;
 	font-family: 'Open Sans Condensed', sans-serif;
 	font-size: 35px;
 }

 section.seven {
 	overflow: hidden;
 	height: 550px;
 	padding-top: 120px;
 }
 .leftmove , .rightmove{
 	float: left;
 	width:9%;
 }
 .leftmove ul {
	padding-left: 60px;
	padding-top: 160px;
}
.rightmove ul {
	padding-right: 60px;
	padding-top: 160px;
	padding-left: 30px;
}		
.leftmove ul li, .rightmove ul li  {
	background-color: #43c0ff; 
    border: none;
    color: white;	
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;	
    padding:10px 20px;
    border-radius: 10px;
}
.leftmove ul a:hover li , .rightmove ul a:hover li {
	background-color: black;
}

.success {
	text-align: center;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 30px;
	padding: 30px 0px 30px 0px; 
}
.stories {
	width:40%;
	float: left;
	height: 300px;
	background-color: #eaeaea;
}
#stories1 {
	border-right: solid 10px white;
}
.stories h2 {
	font-family: 'Quattrocento Sans', sans-serif;
	padding: 20px 0px 20px 0px;
	text-align: center;
	background-color: #c9c8c7;
}
.storyimg {
	float: left;
	width: 50%;

}
.storyimg img {
	width:200px;
	padding-left:30px;
	padding-top: 20px;
}
.storytxt {
	width: 50%;
	float: left;
}
.stories p {
	margin: 60px 30px 0px 0px;
	color:#686868;
	font-family: 'Quattrocento Sans', sans-serif;
	text-align: justify;
}
section.eight {
    text-align: center;
    overflow: hidden;
    padding: 120px 0px 60px 0px;
}
.ruby {
    width: 30%;
    float: left;
    box-sizing: border-box;
    border:solid 0.5px #d9d9d9;
    border-radius: 10px;
    margin-left: 60px;
    padding: 20px;
    opacity: 1;
   	transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
.nodejs {
	width: 30%;
    float: left;
    box-sizing: border-box;
    border:solid 0.5px #d9d9d9;
    border-radius: 10px;
    margin: 0px 15px 0px 15px;
    padding: 20px;
    opacity: 1;
   	transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
.php {
	width: 30%;
    float: left;
    box-sizing: border-box;
    border:solid 0.5px #d9d9d9;
    border-radius: 10px;
    margin-right: 60px;
    padding: 20px;
    opacity: 1;
   	transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
.ruby:hover, .php:hover, .nodejs:hover {
	opacity: 0.5;
}
.application h1 {
    padding-bottom: 80px;
    font-size: 60px;
    font-family:'Hind Siliguri', sans-serif;
}
.ruby h2, .php h2, .nodejs h2 {
	font-family: 'Hind Siliguri', sans-serif;
	font-size: 30px;
	padding:10px;
}
.ruby p, .php p, .nodejs p {
	font-family: 'Hind Siliguri', sans-serif;
	color:#444443;
}
.ruby img, .php img, .nodejs img {
    width: 120px;
}
section.nine  {
	padding: 120px 0px 60px 0px;
	overflow: hidden;
}
.parallax {
	background-image: url("images/parallaximage.jpg");
	height:600px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;	
}
.parallaxtext {
	font-family: 'Ubuntu', sans-serif;
	font-size: 30px;
	padding-top:220px;
	color:white;
	letter-spacing:1px;
	text-align: center;
	margin: 0px 400px;
}
.emailus ul {
	padding-top: 30px;
}
.emailus ul li  { 
    border: solid 1px #059cd3;
    color: white;	
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;	
    padding:10px 30px;
    border-radius: 4px;
    font-family: 'Ubuntu', sans-serif;
}
.emailus ul a:hover li {
	color:white;
	border-color: pink;
}

section.ten {
    text-align: center;
    overflow: hidden;
  	padding: 65px 0px 60px 0px;
}
.charts {
    width: 33.3%;
    float: left;
    box-sizing: border-box;
    margin: 20px 0px;
    -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  	transition: all 0.3s;
}
.charts:hover {
-moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
 }
.charts img {
	width: 400px;
}
.charts h2 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 30px;
	padding:10px;
}
.analysis {
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 40px;
	padding: 30px 0px 30px 0px; 
}
section.eleven {
	overflow: hidden;
	height: 600px;
	padding-top: 200px;
}
.inner3 {
	width:100%;
}
.boxandtext {
	width: 30%;
	float: left;
	padding-top: 30px;
	box-sizing: border-box;
	padding-left: 40px;		
}
.map {
	width:70%;
	float: left;
	-moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  	box-sizing: border-box;
  	-moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  	transition: all 0.3s;
}
.map:hover {
-moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.checkbox {
	float: left;
	width: 30%;
}
.checkbox img {
	width:20px;
	padding-left: 100px;
}
.map img {
	width:800px;
	margin-left: 120px;
}
.countryname {
	float: left;
	width: 70%;
}
.countryname h2 {
	font-size: 20px;
	font-family: 'Ubuntu', sans-serif;
}
.countries {
	padding-top: 40px;
}
#f2 {
 	width:200px;
 	padding: 30px;
 }

 .twelve {
 	overflow: hidden;
 	height: 700px;
 	width: 100%;
 	background-image: url(images/image3.jpg);
 	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
 	background-size: cover;
 }
 .intouch {
 	float: left;
 	width: 50%;
 	text-align: center;
 }
 .form2 {
 	float: left;
 	width: 50%;
 	box-sizing: border-box;
 	padding: 0px 250px;
 }
.intouch h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:60px;
	color:white;
}
.intouch h3 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 25px;
	color:white;
}
.socialmedia {
	float: left;
	padding-left: 20px;
}
.intouch img {
	width: 40px;
}

.form2 {
	float: left;
	width: 50%;
}
.socialicons {
	padding: 20px 250px;
}
.contact {
	padding-top: 200px;
}
section.thirteen {
	height: 300px;
	overflow: hidden;
	background-color: #f0f0f0;
}
.footer {
	width:100%;
	padding-top: 50px;
}
.icofooter {
	padding-left: 120px;
}
.leftfooter {
	width: 33%;
	float: left;
	text-align: center;
}
.leftfooter p {
	font-family: 'Ubuntu', sans-serif;
	width: 300px;
	margin: 25px 90px;
}
.middlefooter {
	width: 33%;
	float: left;
	text-align: center;
}
.rightfooter {
	width: 33%;
	float: left;
	text-align: center;
}
.leftfooter h1 , .rightfooter h1 , .middlefooter h1 {
	font-size: 20px;
	font-family: 'Open Sans Condensed', sans-serif;
}
.middlefooter ul a {
	text-decoration: none;
}
.middlefooter ul {
	list-style-type: none;
	padding: 30px;
}
.middlefooter ul li {
	padding: 5px;
	color:black;
}
.middlefooter  ul a:hover li {
	color:#10cbe4;
}
.rightfooter p {
	font-family: 'Ubuntu', sans-serif;
	margin: 25px 130px;
}
.socialfooter img {
	width:40px;
}
.socialfooter {
	float: left;
	padding-left: 20px;
}
.socialfooter a:hover {
	border-radius: 50%;
}
.icons {
	float: left;
	width: 10%;
}
.icons img {
	width: 22px;
}
.iconset {
	padding-left: 150px;
	width: 100%;
}
.contacttext {
	float: left;
	width: 90%;
}
.contacttext h1 {
	font-size: 10px;	
	text-align: justify;
	font-family: 'Ubuntu', sans-serif;
	padding-top: 5px;
}
section.fourteen {
	overflow: hidden;
	height:40px;
	background-color: black;
}
.privacypolicy {
	text-align: center;
	font-size: 20px;
	font-family: 'Ubuntu', sans-serif;
	color:white;
}
.privacypolicy h4 {
	padding-top: 10px;
}
/*
.section1  {
	float:left;
	width:50%;
	text-align: center;
	padding-top: 150px;

}
.section1 h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:60px;
}
.section1 h2 {
	font-family: 'Ubuntu', sans-serif;
	font-size:30px;
	padding-top: 20px;
}

}

.img2 img {
	float: left;
	height: 300px;
	margin: 200px 0px 0px 50px;
	border :solid white;
	border-radius: 50px;
}
.text2 {
	float: left;
	text-align: center;
	margin: 200px 0px 0px 100px;
}
.text2 h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:60px;
}
.text2 p {
	font-family: Ubuntu;
	font-size:30px;
	padding-top: 20px;
	color:#bfbfbf;
}
.section2 {
    height: 660px;
    width:100%;
}
.section3 {
	height: 500px;
	padding-top: 50px;
}
.section3up {
	padding-top: 0px;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:40px;
}
.section3down1 {
	float: left;
	margin: 0px 100px;
	padding-left: 160px;
}

.s3im3 img {
	height: 120px;
	width:120px;
	padding: 50px 50px 20px 50px;
	float: left;
}
.title1down {
	padding-top: 120px;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
}
.section3down2 {
	float: left;
	margin: 0px 100px;
}
.s3im4 img {
	height: 120px;
	width:120px;
	padding: 50px 50px 20px 50px;
	float: left;

}
.title2down {
	padding-top: 120px;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
}

.section3down3 {
	float: left;
	margin: 0px 100px;
}
.s3im5 img {
	height: 120px;
	width:120px;
	float: left;
	padding: 50px 50px 20px 50px;
}
.title3down {
	padding-top: 120px;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
}
.p1, .p2, .p3 {
	text-align: center;
	padding-top: 10px;
	font-family: Ubuntu;
	color:#bfbfbf;
}
.section4 {
	height:500px;  
}
.s4heading {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:30px;
	padding: 20px 0px 0px 20px;
	text-align: center;
}
.section4down1 {
	float: left;
	margin: 0px 100px;
	padding-left: 160px;
}

.s4im1 img {
	height: 120px;
	width:120px;
	padding: 50px 50px 20px 50px;
	float: left;
}
.titledown1 {
	padding-top: 120px;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
}
.section4down2 {
	float: left;
	margin: 0px 100px;
}
.s4im2 img {
	height: 120px;
	width:120px;
	padding: 50px 50px 20px 50px;
	float: left;

}
.titledown2 {
	padding-top: 120px;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
}

.section4down3 {
	float: left;
	margin: 0px 100px;
}
.s4im3 img {
	height: 120px;
	width:120px;
	float: left;
	padding: 50px 50px 20px 50px;
}
.titledown3 {
	padding-top: 120px;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
}
*/