
* {
	margin:0;
	padding:0;
}
@font-face {
    font-family: CODEBold;
    src: url(font-family/CODEBold.otf);
}
.navbar {
	list-style-type:none;
	width:75%;
	float:left;
	text-align:right;
	height: 72px;

}
.navbar ul {
	margin:30px 20px 0px 0px;


}
.header {
	background-color: black;
	height:72px;
}
.logo {
	float:left;
	width:25%;
}
.logo img {
	width:155px;
	padding-left:25px;
	padding-top:10px;
}
.navbar ul li {
	display:inline;
	color:white;
	font-family:CODEBold;
	padding:10px;
	letter-spacing: 1px;

}
.navbar ul a {
	text-decoration: none;
}
.navbar ul li:hover {
	color:#43C0FF;
}
.section1  {
	float:left;
	width:50%;
	text-align: center;
	padding-top: 150px;

}
.section1 h1 {
	font-family: CODEBold;
	font-size:60px;
}
.section1 h2 {
	font-family: Futura STD;
	font-size:30px;
	padding-top: 20px;
}
.img1 img {
	float: left;
	width: 50%;
	height: 400px;
	padding-top: 150px;
}
.knowmore ul {
	padding-left:500px;
	padding-top: 30px;
}
.knowmore ul li  {
	background-color: #43c0ff; 
    border: none;
    color: white;	
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;	
    padding:10px 20px;
    border-radius: 10px;
}
.knowmore ul a:hover li {
	background-color: black;
}
.img2 img {
	float: left;
	height: 300px;
	margin: 200px 0px 0px 50px;
	border :solid white;
	border-radius: 50px;
}
.text2 {
	float: left;
	text-align: center;
	margin: 200px 0px 0px 100px;
}
.text2 h1 {
	font-family: CODEBold;
	font-size:60px;
}
.text2 p {
	font-family: Futura STD;
	font-size:30px;
	padding-top: 20px;
	color:#bfbfbf;
}
.section2 {
    height: 660px;
    width:100%;
}
.section3 {
	height: 500px;
	padding-top: 50px;
}
.section3up {
	padding-top: 0px;
	text-align: center;
	font-family: CODEBold;
	font-size:40px;
}
.section3down1 {
	float: left;
	margin: 0px 100px;
	padding-left: 160px;
}

.s3im3 img {
	height: 120px;
	width:120px;
	padding: 50px 50px 20px 50px;
	float: left;
}
.title1down {
	padding-top: 120px;
	font-family: CODEBold;
	text-align: center;
}
.section3down2 {
	float: left;
	margin: 0px 100px;
}
.s3im4 img {
	height: 120px;
	width:120px;
	padding: 50px 50px 20px 50px;
	float: left;

}
.title2down {
	padding-top: 120px;
	font-family: CODEBold;
	text-align: center;
}

.section3down3 {
	float: left;
	margin: 0px 100px;
}
.s3im5 img {
	height: 120px;
	width:120px;
	float: left;
	padding: 50px 50px 20px 50px;
}
.title3down {
	padding-top: 120px;
	font-family: CODEBold;
	text-align: center;
}
.p1, .p2, .p3 {
	text-align: center;
	padding-top: 10px;
	font-family: futura STD;
	color:#bfbfbf;
}